.Container {
  min-height: calc(100vh - 100px);
  padding: 25px;

  .Wrapper {
    width: 90%;

    .Left {
      flex: 1;
      height: 80rem;

      .ButtonWrapper {
        width: 100%;
        margin-bottom: 15px;
        gap: 5px;

        & > p {
          font-weight: bold;
          color: var(--error_dark);
        }
      }

      .DeliveryState {
        width: 80%;
        height: 100px;
        margin: 15px 0;

        img {
          width: 4rem;
          height: 4rem;
        }

        .done,
        .inProgress,
        .undone {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .inProgress {
          animation: inProgress 1s infinite alternate linear;
        }

        .inProgress .checkedIcon,
        .undone .checkedIcon {
          opacity: 0;
        }

        @keyframes inProgress {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }

        .undone {
          opacity: 0.3;
        }

        .checkedIcon {
          width: 2rem;
          height: 2rem;
        }
      }

      .DataGridRow,
      .DataGridCell {
        min-height: 120px !important;
        max-height: 200px !important;
      }

      .CellImage {
        width: 10rem;
        height: 10rem;
        object-fit: cover;
      }
    }

    .Right {
      width: 35rem;
      .TotalWrapper {
        position: sticky;
        top: 100px;
        background-color: var(--pink_60);
        color: var(--white);
        padding: 15px;
        border-radius: 5px;

        h1 {
          font-size: 3rem;
          font-weight: bold;
        }

        .List {
          li {
            padding: 0;
            .ListItemText {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              span {
                font-size: 2rem;
                font-weight: bold;
              }

              p {
                color: var(--white);
                font-size: 1.8rem;
                font-weight: 600;
              }
            }
          }
        }

        button {
          min-width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .Container {
    .Wrapper {
      width: 100%;
      .Left {
        height: 50rem;
      }
      .Right {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 46.25em) {
  .Container {
    .Wrapper {
      height: 120rem;
      width: 100%;

      .Left {
        .DeliveryState {
          width: 100%;

          img {
            width: 2rem;
            height: 2rem;
          }
        }
      }
      .Right {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 100em) {
  .Wrapper {
    .Left {
      height: 75rem;
    }
  }
}
