@mixin flexBox($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  @content;
}

.ListData {
  min-height: calc(100vh - 100px);
  background-color: var(--background);
  padding: 50px;
  .Container {
    height: 100%;

    .Left {
      width: 36rem;
      padding: 25px;
      background-color: var(--pink_60);

      h1 {
        font-weight: bold;
        color: var(--white);
        font-size: 3rem;
        line-height: 4.5rem;
      }

      p {
        margin: 1.5rem 0;
        color: var(--white);
        font-weight: 500;
      }

      .ImgWrapper {
        width: 6rem;
        height: 6rem;
        color: var(--white);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .Right {
      width: 50rem;
      .Texts {
        width: 40%;
        h1 {
          color: var(--pink_100);
          font-size: 4.6rem;
          font-weight: bold;
        }

        h2 {
          font-weight: 700;
          font-size: 1.6rem;
          min-height: 6rem;
        }

        p {
          text-align: center;
          font-weight: 500;
        }
      }
    }
  }
}

@media screen and (max-width: 46.25em) {
  .ListData {
    padding: 20px;
    min-height: calc(100vh - 85px);

    .Container {
      .Left {
        width: 100%;
      }

      .Right {
        width: 100%;
        .Texts {
          width: 45%;
          h1 {
            color: var(--pink_100);
            font-size: 3.6rem;
            font-weight: bold;
          }

          h2 {
            font-weight: 700;
            font-size: 1.6rem;
          }

          p {
            text-align: center;
            font-weight: 500;
          }
        }
      }
    }
  }
}

//tablet
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .ListData {
    padding: 25px;
    .Container {
      .Left {
        width: 100%;
      }

      .Right {
        width: 100%;
      }
    }
  }
}
