.Contact {
  min-height: 100vh;
  height: 100vh;
  background-color: var(--pink_70);
  padding: 50px;

  .Container {
    width: 60%;
    background-color: var(--white);
    border-radius: 5px;
    padding: 25px;

    .Left {
      h1 {
        color: var(--black_30);
        font-weight: 600;
        font-size: 3.6rem;
      }

      .Texts {
        p {
          font-size: 1.8rem;
        }

        .Email {
          color: #ea666c;
          font-weight: bold;
          font-size: 2rem;
          transition: 0.2s;
        }
      }

      .IconWrapper {
        .Icon {
          margin-right: 15px;
          font-size: 2.4rem;
          transition: 0.2s;

          &:hover {
            opacity: 0.8;
            cursor: pointer;
          }
        }
      }
    }

    .Right {
      & > div {
        margin-bottom: 0;
      }

      button {
        min-width: 100%;
      }
    }
  }
}

//mobile
@media screen and (max-width: 46.25em) {
  .Contact {
    min-height: calc(100vh - 85px);
    padding: 20px;
    .Container {
      width: 100%;
    }
  }
}
