.Loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
  gap: 15px;

  h1 {
    font-size: 2.6rem;
    font-weight: bold;
  }

  .LoadingIcon {
    color: var(--pink_100);
  }
}

@media screen and (max-width: 46.25em) {
  .Loading {
    h1 {
      font-size: 1.8rem;
    }
    .LoadingIcon {
      width: 25px !important;
      height: 25px !important;
    }
  }
}
