$background_color: #f0919623;
$background_color_hover: #f0919675;

.Container {
  width: 100%;
  min-height: calc(100vh - 100px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .BottomNavigation {
    background-color: var(--pink_100);
    justify-content: flex-start;
    margin-bottom: 10px;
    max-width: max-content;
    border-radius: 0.5rem;

    .Mui-selected {
      background-color: var(--white);
      color: var(--pink_100);
    }

    button {
      color: var(--white);
      &.Selected {
        background-color: var(--pink_70);
        color: var(--pink_100);
        border-radius: 0.5rem;
      }

      span {
        font-size: 1.6rem;
        font-weight: bold;
      }
    }
  }
  .Products,
  .Orders,
  .Users {
    .Btn {
      margin-bottom: 10px;
    }
    width: 100%;
    height: 55rem;
  }

  .Products {
    .CellImage {
      width: 10rem;
      height: 10rem;
    }

    .DataGrid {
      & .DataGridRow,
      & .DataGridCell {
        min-height: 120px !important;
        max-height: fit-content !important;

        .Options {
          .ListOfChips {
            max-width: 100%;
            flex-wrap: wrap;
            padding: 10px;

            li {
              width: fit-content;
              padding: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 46.25em) {
  .Container {
    .Products,
    .Orders,
    .Users {
      height: 70rem;
    }
  }
}

@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .Container {
    .Products {
      .DataGrid {
        height: 72rem;
      }
    }
  }
}

@media screen and (min-width: 100em) {
  .Container {
    .Products,
    .Orders,
    .Users {
      height: 75rem;
    }
  }

  .Products {
    .DataGrid {
      height: 100%;

      .Options {
        min-width: 50rem !important;
        max-width: 50rem !important;
      }

      .CellImage {
        width: 12rem;
        height: 12rem;
      }

      .DataGridCell {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      & .DataGridRow,
      & .DataGridCell {
        min-height: 150px !important;
        max-height: 150px !important;
      }
    }
  }
}
